:root {
  /* objects-colors */
  --header-background-color: #ececec;
  --main-background-color: #ffffff;
  --gray-section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --active-color: #2196f3;
  --unactive-color: #afb1b8;
  --transparent-frame-color: rgba(47, 48, 58, 0.8);
  --team-card-background-color: #ffffff;
  /* texts-colors */
  --hero-text-color: #ffffff;
  --h2-h3-text-color: #212121;
  --inversion-h2-text-color: #ffffff;
  --p-text-color: #757575;
  --inversion-p-text-color: #ffffff;
  --active-link-color: #2196f3;
  --unactive-link-color: #757575;
  --unactive-nav-link-color: #212121;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-background-color);
  color: var(--p-text-color);
}
header {
  background-color: var(--header-background-color);
}
a {
  text-decoration: none;
}
.logo {
  color: #2196f3;
}
.logo span {
  color: var(--unactive-nav-link-color);
}
ul {
  list-style: none;
}
/* header-site-nav */
.site-nav-list .link {
  color: var(--unactive-nav-link-color);
}
.site-nav-list .link.current {
  color: var(--active-link-color);
}
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--active-link-color);
}
/* header-contacts-list */
.header-contacts .header-contacts-list {
  color: var(--unactive-link-color);
}
.header-contacts .header-contacts-list:hover,
.header-contacts .header-contacts-list:focus {
  color: var(--active-link-color);
}
/* hero-section */
.hero-section .hero-title {
  color: var(--hero-text-color);
  /* временно */
  background-color: aqua;
}
.button {
  background-color: var(--active-color);
  color: var(--inversion-p-text-color);
}
/* advantages */
.advantages-section .advantages-title {
  display: none;
}
.advantages-section .advantages-list-title {
  color: var(--h2-h3-text-color);
}
/* services */
.services-section .services-title {
  display: none;
}
.service-list .services-list-item {
  color: var(--inversion-h2-text-color);
  /* временно */
  background-color: var(--transparent-frame-color);
}
/* our-team */
.team-section {
  background-color: var(--gray-section-background-color);
}
.team-section .team-title {
  color: var(--h2-h3-text-color);
}
.team-list .team-list-item {
  background-color: var(--team-card-background-color);
}
.team-list-item-name {
  color: var(--h2-h3-text-color);
}
/* regular-customers */
.customers-section .customers-title {
  color: var(--h2-h3-text-color);
}
/* footer */
footer {
  background-color: var(--footer-background-color);
}
.footer-logo {
  color: #2196f3;
}
.footer-logo > span {
  color: #ffffff;
}
.footer-contacts {
  color: var(--footer-contacts-text-color);
}
.signup-block-title {
  color: var(--inversion-p-text-color);
}
.subscribe-block-title {
  color: var(--inversion-p-text-color);
}
