.advantages-section {
  @media screen and (min-width: $desktop) {
    margin-top: 0px;
    margin-bottom: 94px;
  }
}

.advantages-title {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.advantages-list {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages-list-item {
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.advantages-list-icon-background {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 270px;
    height: 120px;
  
    border-radius: 4px;
    margin-bottom: 30px;
    
    background-color: $gray-section-background-color;
  }
}

.advantages-list-text {
  @media screen and (min-width: $desktop) {
    margin: 0px;
  }
}

.advantages-list-title {
  @media screen and (min-width: $desktop) {
    margin-top: 0px;
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $h2-h3-text-color;
  }
}

.advantages-list-item {
  @media screen and (min-width: $desktop) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
