.team-section {
  background-color: var(--gray-section-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-section .team-title {
  color: var(--h2-h3-text-color);

  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list .team-list-item {
  padding-bottom: 24px;
  background-color: var(--team-card-background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item-img {
  display: block;
  margin-bottom: 30px;
}
.team-list-item-name {
  color: var(--h2-h3-text-color);
  display: block;

  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list-item-position {
  display: block;
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list-item-social-items {
  display: flex;
  justify-content: center;
}
.team-list-item {
  width: 270px;
  text-align: center;
}
.team-list-item-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-item-social-links:hover,
.team-list-item-social-links:focus {
  background-color: var(--active-link-color);
}
.team-list-item-social-links:hover > .team-list-item-social-icon,
.team-list-item-social-links:focus > .team-list-item-social-icon {
  fill: #ffffff;
}
.team-list-item-social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: var(--unactive-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}