footer {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-background-color;
  }
}

.footer-container {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-logo {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: inline-block;

    margin-bottom: 20px;
  
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
  
    & > span {
      color: #ffffff;
    }
  }
}

.footer-contacts-item {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: $footer-contacts-text-color;
  }
  
}

.footer-contacts-item-mail {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: inline-block;

    margin-bottom: 9px;
  }
}

.footer-contacts-item-adress {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: inline-block;

    margin-bottom: 9px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: $inversion-p-text-color;
  }
}

.signup-block-title {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $inversion-p-text-color;
  }
}

.signup-block-items {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.signup-block-item:not(:last-child) {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
 
}

.signup-block-item-link {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
    border-radius: 100%;
   
  
    background-color: $footer-unactive-soc-link-color;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
     background-color: $active-link-color;
    }
  }
}

.signup-block-item-icon {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: block;

    fill: #ffffff;
  }
}

.subscribe-block-title {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $inversion-p-text-color;
  }
}

.subscribe-block-form {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.footer-signup-input {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: block;
    width: 358px;
    height: 50px;
  
    margin-right: 12px;
    padding: 15px 16px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  
    background-color: $footer-background-color;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-signup-button {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 200px;
    height: 50px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87px;
    letter-spacing: 0.06em;
  
    background-color: $active-link-color;
    color: #ffffff;
    fill: currentColor;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  
    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $active-link-color;
    }
  }
}

.icon-send {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    margin-left: 10px;
  }
}

.footer-signup-button:hover > .icon-send-use,
.footer-signup-button:focus > .icon-send-use {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    fill: $active-link-color;
  }
 }