.backdrop.is-hidden {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    opacity: 0;
    pointer-events: none;
  }
}

.backdrop {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
  
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 528px;
    height: 581px;
    padding-top: 40px;
    padding-left: 41px;
    padding-right: 39px;
  
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transform: translate(-50%, -50%) scale(1);
  }
}

.backdrop.is-hidden .modal {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-heading {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0px;
    margin-bottom: 12px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: $h2-h3-text-color;
  }
}

/* modal close button */
.modal-close-button {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  
    background-color: transparent;
    
    &:hover,
    &:focus {
    fill: $active-link-color;
    }
  }
}

/* modal form */
.label-name {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: block;
    margin-bottom: 4px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $unactive-link-color;
  }
}

.modal-form-input {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: block;
    width: 100%;
    height: 40px;
  
    margin-bottom: 10px;
    padding-left: 42px;
    padding-top: 11px;
    padding-bottom: 11px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
}

.comment {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
  
    &::placeholder {
      @media screen and (min-width: $desktop) {
  
      }
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
    
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.modal-form-input:hover + .modal-input-icon,
.comment-field:focus-within > .modal-input-icon {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    color: $active-link-color;
  }
}

.modal-form-input:hover,
.comment:hover,
.modal-form-label:focus-within > .modal-form-input,
.comment-field:focus-within > .comment {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    border: 1px solid $active-link-color;
    outline: none;
  }
}

.modal-submit-button {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    min-height: 50px;
    background-color: $active-link-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
  
    cursor: pointer;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

.modal-form-checkbox-text {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    color: $unactive-link-color;
  }
}

.modal-form-checkbox-link {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    margin-left: 4px;
    color: $active-link-color;
    text-decoration: underline;
  }
}

.checkbox {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-form-label {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    position: relative;
  }
}

.modal-input-icon {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 28px;
    left: 12px;
    width: 18px;
    height: 18px;
  }
}

.modal-input-icon {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    fill: currentColor;
  }
}

.checkbox {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.checkbox-icon {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
  }
}

.checkbox:checked + .checkbox-icon {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    border: 1px solid $active-link-color;
    background-color: $active-link-color;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}