.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  
  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
    
  background-color: rgba(0, 0, 0, 0.5);
  
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 450px;
  height: 609px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  transform: translate(-50%, -50%) scale(1);

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
  width: 528px;
  height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-heading {
  margin-top: 0px;
    margin-bottom: 12px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: $h2-h3-text-color;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

/* modal close button */
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  
  background-color: transparent;
    
  &:hover,
  &:focus {
  fill: $active-link-color;
  }

  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    
  }
}

/* modal form */
.label-name {
  display: block;
  margin-bottom: 4px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $unactive-link-color;

  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  
  margin-bottom: 10px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    
  }
  @media screen and (min-width: $desktop) {
    
  }
}

.comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  
  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
    }

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-form-input:hover + .modal-input-icon,
.comment-field:focus-within > .modal-input-icon {
  color: $active-link-color;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-form-input:hover,
.comment:hover,
.modal-form-label:focus-within > .modal-form-input,
.comment-field:focus-within > .comment {
  border: 1px solid $active-link-color;
    outline: none;


  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-submit-button {
  margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    min-height: 50px;
    background-color: $active-link-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
  
    cursor: pointer;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;


  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-form-checkbox-text {
  display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    color: $unactive-link-color;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-form-checkbox-link {
  margin-left: 4px;
    color: $active-link-color;
    text-decoration: underline;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.checkbox {
  display: flex;
    align-items: center;
    justify-content: center;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-form-label {
  position: relative;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-input-icon {
  position: absolute;
    top: 28px;
    left: 12px;
    width: 18px;
    height: 18px;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.modal-input-icon {
  fill: currentColor;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
   
  }
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.checkbox-icon {
  display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 8px;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}

.checkbox:checked + .checkbox-icon {
  border: 1px solid $active-link-color;
    background-color: $active-link-color;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;

  @media screen and (min-width: $tablet) {}
  @media screen and (min-width: $desktop) {
    
  }
}