.portfolio-container {
  @media screen and (min-width: $mobile) {

  }
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }
  @media screen and (min-width: $desktop) {
    
    padding-bottom: 94px;
  }
}

/* hidden h1 */
.portfolio-title {
  display: none;
}